<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean name="ad" class="com.becoder.ref.Address">
		<property name="id" value="101" />
		<property name="city" value="pune" />
	</bean>

	<bean name="st" class="com.becoder.ref.Student" p:name="Becoder" p:address-ref="ad">

		<!-- <property name="name" value="Becoder" />

		<property name="address" ref="ad" /> -->

	</bean>






</beans>