<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean name="st1" class="com.becoder.collection.Student">
		<property name="name" value="Becoder" />
		<property name="address">
			<list>
				<value>india</value>
				<value>Usa</value>
				<null></null>
			</list>

		</property>

		<property name="phno">
			<set>
				<value>123</value>
				<value>345</value>
			</set>
		</property>

		<property name="course">
			<map>
				<entry key="Java" value="2month" />
				<entry key="C++" value="1month"></entry>
			</map>
		</property>


	</bean>




</beans>